
    <div id="wrapper">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Mongo Scraper</a>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/saved" >Saved Articles</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-danger " id="new-articles">Scrape Articles!</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-danger " id="clear-articles">Clear Articles!</a>
      </li>
    </ul>
  </div>
</nav>
      <h1>Note Scraper</h1>
      
    <div id="article">
      {{#each articles}}
        <div class="card" style="width: 18rem;">
          {{!-- <img class="card-img-top" src="{{this.image}}" alt="Card image cap"> --}}
          <div class="card-body">
          <div id="title-div">
          <h5 class="card-title">{{this.title}}</h5>
          </div>
          {{!-- <h6>{{this.author}}</h6> --}}
          <div id="sum-div">
          <p id="summary">{{this.summary}}</p>
          </div>
          <div id="link-div">
          <a target="_blank" href="{{this.link}}" class="card-text">{{this.link}}</a>
          </div>
          <br>
          <a href="#" class="btn btn-primary" id="save-article">Save Article</a>
          </div>
        </div>
      {{/each}}
    </div>

      <div id="notes"></div>
   
    
